.icon {
  width: 148px;
  height: 148px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 138px;
    position: absolute;
    top: -15px;
    left: -17px;
    background-color: red;
  }

  &::after {
    content: "";
    display: block;
    width: 138px;
    height: 15px;
    position: absolute;
    top: -15px;
    left: -2px;
    background-color: red;
  }

  & h1 {
    font-family: NotoSansCJKtc-Medium;
    font-size: 31px;
    color: #ffffff;
    letter-spacing: 3.24px;
    line-height: 44px;
    text-align: center;
  }
}
